{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>{% block title %}Notes{% endblock %}</h1>
        <div class="search">
            <button type="button"><a href="{% url "note_search" %}">Search</a></button>
        </div>

        {% for note in notes %}
            <div class = "note">
                <div class="title">
                    {{ note.title }}
                </div>
                <div class="description">
                    {{ note.formatted_description|safe }}
                </div>
                <div class="btns">
                    <button type="button"><a href="{% url "edit_note" note.id %}">Edit note</a></button>
                    <button type="button"><a href="{% url "delete_note" note.id %}">Delete</a></button>
                </div>
                <ul>
                    {% for category in note.categories.all %}

                        <li>{{ category }}</li>

                    {% endfor %}
                </ul>
            </div>

        {% endfor %}

    {% else %}
    {% endif %}
{% endblock %}
