{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Titulní strana{% endblock %}</h1>
    {% if user.is_authenticated %}

        {% for note in notes %}
            <div class = "note">
                <div class="title">
                    {{ note.title }}
                </div>
                <div class="description">
                    {{ note.formatted_description|safe }}
                </div>
                <div class="btns">
                    <a href="{% url "edit_note" note.id %}">Edit note</a>
                    <a href="{% url "delete_note" note.id %}">Delete</a>
                </div>
            </div>

        {% endfor %}

    {% else %}
    {% endif %}
{% endblock %}
